body {
    background-color: wheat;
}

table,
td,
th {
    border: 1px solid black;
}

td.col-checkbox {
    text-align: center;
}

div.more-space {
    margin-bottom: 1em;
}

.authentication label {
    float: left;
    width: 5em;
    margin-right: 1em;
    text-align: right;
}

.authentication input,
.authentication select {
    min-width: 20em;
}

.authentication input[type=submit] {
    min-width: auto
}
